<div class="container">
  <div class="row">
    <h3>登録会員一覧</h3>
    <table class="table table-hover">
    <% @members.each do |member| %>
      <tr>
        <td>
        <%= image_tag member.get_profile_image, size:"70x70" %>
        <%= link_to member.name, member_path(member.id) %>
        <%= member.introduction %>
        <%= render 'public/follows/follow', member: member %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>