<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 pt-5">
      <h3 class="font-weight-bold pb-4">登録ユーザー</h3>
      <%= render 'member_list' %>
    </div>
    <div class="col-1"></div>
  </div>
</div>