<div class="container">
  <div class="row">
    <h3>登録会員一覧</h3>
    <table class="table table-hover">
    <% @members.each do |member| %>
      <tr>
        <th></th>
        <td><%= image_tag member.get_profile_image, size:"100x100" %></td>
      </tr>

      <tr>
        <th>ハンドルネーム</th>
        <td><%= link_to member.name, member_path(member.id) %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>