<div class="h5 text-center text-danger"><%= flash[:notice] %></div>
<div class="container py-5 px-sm-0">
  <h4 class="border-bottom border-secondary pb-2 mb-5">
    <% if @member == current_member %>
      <strong>マイプロフィール</strong>
    <% else %>
      <strong>ユーザー詳細</strong>
    <% end %>
  </h4>
  <div class="row">
    <div class="col-4 pt-4 bg-white">
      <%= render 'public/members/member_side', members: @members %>
    </div>
    <div class="col-1"></div>