<%= render 'follow_view', members: @members %>
<div class="col-7">
  <h5 class="text-center font-weight-bold pb-1">フォロワー</h5>
  <% if @members.exists? %>
    <%= render 'public/members/member_list', members: @members %>
  <% else %>
    <p class="text-center pt-5">ユーザーはいません<i class="far fa-surprise"></i></p>
  <% end %>
</div>